body {
	background-color: #A51313;
	padding: 4%;
	font-family: Lato;
	font-style: normal;
	line-height: normal;
	text-align: left;
	color: #A51313;	
}
div.sub-bg {
	width: 100%;
    height: 100%;
    padding: 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.75);
}
h1 {
	font-weight: 900;
	font-size: 60px;
}
h2 {
	font-weight: 700;
	font-size: 40px;
}
h3 {
	font-weight: 600;
	font-size: 24px;
}
h4 {
	float: right;
	font-size: 14px;
}
form {
	padding: 5%;
	border: 3px solid #A51313;
	margin-bottom: 20px;
}
img {
	height: 500px;
	margin-left: -100px;
	float: left;
}
.btn {
	background-color: #A51313;
	color: white;
	font-size: 20px;
}
.panel {
	background-color: #F9F9F9;
}
.panel:hover {
	background-color: #A51313;
	color: white;
}
