{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>STORY 10 - Registrasi Form</title>

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../static/style4.css">

	</head>

	<body>
		<div class="container">
		  <h1>Registrasi</h1>
		  <br>
		  <form class="form-horizontal" id="form-registrasi">
		  	{% csrf_token %}
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="nama">Nama:</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" id="nama" placeholder="Masukkan nama">
		      </div>
		    </div>
		   	<div class="form-group">
		      <label class="control-label col-sm-2" for="email">Email:</label>
		      <div class="col-sm-10">
		        <input type="email" class="form-control" id="email" placeholder="Masukkan email">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="pwd">Password:</label>
		      <div class="col-sm-10">          
		        <input type="password" class="form-control" id="pwd" placeholder="Masukkan password">
		      </div>
		    </div>
		    <div class="form-group">        
		      <div class="col-sm-offset-2 col-sm-10" id="button-submit">
		        <button type="submit" class="btn btn-default">Submit</button>
		      </div>
		    </div>
		  </form>
		  <br>
		  <button id="show-subs" onclick="showSubs()">Show Subscriber</button>
		  <br>

			<div id="list-subscriber" style="display: none;">
				<table class="table table-hover">
					<thead>
					  <tr>
					    <th><h3>Subscriber</h3></th>
					    <th><h3>Subscribe Button</h3></th>
					  </tr>
					</thead>

					<tbody id="subscriber">
						
					</tbody>
				</table>
			</div>	
		</div> 
		<script
		  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
		  crossorigin="anonymous"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="../static/js-registrasi.js"></script>

	</body>
</html>