body {
	background-color: #0F6EDE;
	background-image: linear-gradient(45deg, #0F6EDE, #45A3D8, #2BE4AD);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	padding: 4%;
	font-family: Lato;
	font-style: normal;
	line-height: normal;
	text-align: left;
	color: #0F6EDE;	
}
.container {
	margin: auto;
    height: 100%;
    padding: 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.75);
}
h1 {
    text-align: center;
	font-weight: 900;
	font-size: 45px;
}
h2 {
	font-weight: 700;
	font-size: 40px;
}
h3 {
	font-weight: 600;
	font-size: 2vw;
}
h4 {
	float: right;
	font-size: 14px;
}
button {
	background-color: #0F6EDE;
	background-image: linear-gradient(45deg, #0F6EDE, #45A3D8, #2BE4AD);
    color: white;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px;
    float: right;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loading.gif') 50% 50% no-repeat rgb(249,249,249);
}