body {
    background-color: #A51313;
    padding: 4%;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-align: left;
    color: #A51313; 
}
div.sub-bg {
    width: 100%;
    height: 100%;
    padding: 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.75);
}

h1 {
    font-weight: 900;
    font-size: 45px;
}
h2 {
    font-weight: 700;
    font-size: 20px;
}
h3 {
    font-weight: 600;
    font-size: 20px;
}
h4 {
    font-weight: 400;
    font-size: 18px;
}
img {
    height: 20vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
/*.accordion {
    background-color: #A51313;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    opacity: 0.8;
    filter: alpha(opacity=50);
}
.panel {
    margin-bottom: 0px;
    padding: 0 25px;
    background-color: #eaeaea;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}*/
button {
    background-color: #A51313;
    color: white;
    margin-top: 50px;
    padding: 10px;
    float: right;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loading_gif.gif') 50% 50% no-repeat rgb(249,249,249);
}


