{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>STORY 6 - Landing Page</title>

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../static/style.css">

	</head>

	<body>
		<div class="sub-bg">
			<div class="row">
				<div class="col-sm-6">
					<h1>Hello,</h1>
					<h2>Apa kabar?</h2>	
					<br>		
					<form method="POST" action="{% url 'post' %}">
			            {% csrf_token %}
			            {{ status_form }}
			            <br>
			            <button name="submit" type="submit" class="btn btn-default">Post</button>
			        </form>
			        <img src="../static/pewe2.0.png">
				</div>

				<div class="col-sm-6">
					{% if status_res %}
					{% for result in status_res %}
					<div class="panel panel-default">
					    <div class="panel-body">
					    	<h3>{{result.status}}</h3>
							<h4>{{result.created_date}}</h4>
					    </div>
					</div>						
			        {% endfor %}

				    {% else %}
				    <div class="panel panel-default">
						<h2>Tidak ada status</h2>
					</div>
				    {% endif %}		
				    							
				</div>
			</div>
		</div>
	</body>
</html>