{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>STORY 8</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900" rel="stylesheet">
        <!-- Accordion -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/style2.css">
        <style>
            .text-dark {
                color: #003575;
            }
            .bg-dark {
                background-color: #003575;
            }
        </style>

    </head>

    <body>
        <div class="loader"></div>

        <div class="sub-bg">
            <div class="row">
                <div class="col-sm-7">
                    <img class="photo" src="https://preview.ibb.co/hFKhZz/revan_home.png" alt="revan home" border="0" />

                    <h1>REVAN RAGHA ANDHITO</h1>
                    <h2>Mahasiswa</h2>
                    <h2>Ilmu Komputer, Universitas Indonesia</h3>
                    <br><br>
                    <h4 id="bot-info-bold">Email</h4>
                    <h5 id="bot-info-thin">revan.ragha@ui.ac.id</h5>
                    <h4 id="bot-info-bold">Telepon</h4>
                    <h5 id="bot-info-thin">+62 858 1052 5610</h5>
                </div>

                <div class="col-sm-5">   
                    <div id="accordion">
                      <h3 >AKTIVITAS</h3>
                      <div>
                        <h4>
                            - Mengerjakan PPW <br>
                            - Mengerjakan Tugas SDA <br>
                            - Menjalani Semester 3 <br>
                        </h4>
                      </div>

                      <h3>PENGALAMAN ORGANISASI / KEPANITIAAN </h3>
                      <div>
                        <h4>
                        <b>2018 - now</b>  Deputy of Media Bureau BEM Fasilkom UI 2018 <br>
                        <b>2018 - now</b>  PIC of Medical Support PMB Fasilkom 2018 <br>
                        <b>2018 - now</b>  Staff of Online Marketing COMPFEST X <br>
                        <b>2018 - 2018</b>  Staff of Decoration The 25th CGT Fasilkom <br>
                        <b>2016 - 2016</b>  PIC of Design, Decoration, & Documentation SDB XXIII <br>
                        <b>2016 - 2016</b>  Project Offcer LITERATURE 2016 PMR SMAN 1 Bogor <br>
                        <b>2016 - 2016</b>  PIC of Event DIAPHENIA XXIII PMR SMAN 1 Bogor <br>
                        <b>2014 - 2016</b>  Staff of Informatics Division KIR SMAN 1 Bogor <br>
                        <b>2015 - 2016</b>  Staff of Secretarial Unit PMR SMAN 1 Bogor <br>
                        </h4>
                      </div>

                      <h3>PRESTASI</h3>
                      <div>
                      <h4>
                        <b>2016</b> 1st Place Red Cross Recycle in Jabodetabek Level in AKAS 2016<br>
                        <b>2016</b> 3rd Place of Handcraft (Male) in FLS2N City Level<br>
                        <b>2015</b> 2nd Place Field First Aid PMR (Male Group) in WKB 2015<br>
                      </h4>
                      </div>
                    </div>

                    <button>Change Theme</button>            
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../static/profile_js.js"></script>
    </body>
</html>