{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>STORY 9 - Daftar Buku</title>

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../static/style3.css">

	</head>

	<body>
		<div class="sub-bg">
			{% block content %}
			{% endblock %}  							
		</div>

		<script src="../static/js-daftarbuku.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
		  crossorigin="anonymous"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	</body>
</html>