{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<h3 class="display-4">Halo, Selamat Datang {{ user.username }}!</h3>
		<a class="lead" href="/daftar-buku/logout">Log out</a>
	{% else %}
		<h3>Silahkan lakukan login terlebih dahulu</h3>
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
	<div id="row">
		<br>
		<br>
		<div class="col-xs-6">
			<h1 id="page-title">Daftar Buku</h1>
			<form style="display: flex">
			  <input type="text" id="search-bar" name="search" placeholder="Search..">
			  <button type="submit" id="btn-search">Search</button>
			</form>
		</div>
		<div class="col-xs-6" style="float: right; text-align: right;">
			<h3>Jumlah buku:</h3>
			<h3 id="counter-books">
				{% if adaBuku %}
					{{ adaBuku }}
				{% else %}
					0
				{% endif %}
			</h3>
			<button id="show-fav" onclick="showFav()">Show Favorite</button>					
		</div>
		
	</div>

	<div id="books-table-container" style="display: block;">
		<table class="table table-hover">
			<thead>
			  <tr>
			  	<th><h3>Book's Preview</h3></th>
			    <th><h3>Title</h3></th>
			    <th><h3>Published Date</h3></th>
			    <th><h3>Publisher</h3></th>
			    <th><h3>Favorite</h3></th>
			  </tr>
			</thead>

			<tbody id="books_row">
			</tbody>
		</table>
	</div>

	<div id="favbooks-table-container" style="display: none;">
		<table class="table table-hover">
			<thead>
			  <tr>
			    <th><h3>Title</h3></th>
			    <th><h3>Published Date</h3></th>
			    <th><h3>Publisher</h3></th>
			  </tr>
			</thead>

			<tbody id="favbooks_row">
			</tbody>
		</table>
	</div>	    							

{% endblock %}