{% extends 'base.html' %}

{% block content %}
<a href="/daftar-buku">Back</a>
<h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <label for="username"> Your email </label>
        <input type="text" id="email" name="email" required>
    </p>
    <p>
        <label for="password"> Your password </label>
        <input type="password" id="password" name="password" required>
    </p>

    <button type="submit" onclick="/daftar-buku">Login</button>
  </form>
  <br>

  <p><strong>-- OR --</strong></p>

  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

{% endblock %}